/* TODO: pagr turinys turi buti centruotas vertikaliai */
/* TODO: pagr turinys turi buti centruotas horizontaliai */
body {
    background-color: #664BAD;
}

.container {
    display: inline-block;
    width: 800px;
    margin-left: calc((100% - 800px)/2);
    margin-top: 100px;
}

.left-column {
    display: inline-block;
    width: 40%;
    float: left;
    padding: 40px;
    background-color: rgb(0, 183, 255);
    color: #fff;
}

.main-title {
    display: inline-block;
    width: 100%;
}

.bottom-links {
    display: inline-block;
    width: 100%
    color: #fff;
}

.bottom-links > .link {
    display: inline-block;
    color: #fff;
}

.symbol {
    display: inline-block;
}

.right-column {
    display: inline-block;
    width: 60%;
    float: left;
    padding: 60px;
    background-color: #fff;
}
/* x - closing element */
.close {
    display: inline-block;

}

.form {
    display: inline-block;
    width: 100%;
}
.form-row {
    display: inline-block;
    width: 100%;
    margin-bottom: 30px;
}
.form-row:last-of-type {
    margin-bottom: 0;
}

label {
    display: inline-block;
    width: 100%;
    text-transform: uppercase;
    color: #999;
    font-size: 16px;
}

input {
    display: inline-block;
    width: 100%;
    font-size: 20px;
    line-height: 40px;
    border: none;
    border-bottom: 2px solid #ccc;

}

.btn {
    display: inline-block;
    background-color: #005bd9;
    color: #fff;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 18px;
    line-height: 20px;
    border-radius: 20px;
    border: none;
    text-transform: capitalize;
    cursor: pointer;
}

.btn:hover {
    background-color: rgba(0, 26, 255, 0.555);
}

.text {
    display: inline-block;
    line-height: 20px;
    font-size: 18px;
    padding: 10px;
    margin-left: 10px;
}

.form-row > .link {
    display: inline-block;
    line-height: 20px;
    font-size: 18px;
    padding: 10px;
}